<% include ./partials/headers.ejs %>
<% include ./partials/char.ejs %>

<div class="content">
    <% var info1 = info.replace(new RegExp("\n", "g"), '<br>') %>
    <%- info1 %>
</div>

<% include ./partials/inventory.ejs %>
<% include ./partials/footer.ejs %>
