<% include ./partials/headers.ejs %>
<% include ./partials/char.ejs %>

<div class="content">
    CONTENT, CONTENT, CONTENT, CONTENT
</div>

<% include ./partials/inventory.ejs %>
<% include ./partials/footer.ejs %>