body {
    background-image: url("./login.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2%;
    color: #ffffff;
}

.char {
    width: 15%;
    background:#000000;
    opacity: 0.6;
    /* border: 2px solid black; */
    
}

.char p1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.char p2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    /* background:#000000; */
    opacity: 0.9;
    width: 650px;
    height: 500px;
}

.card {
    margin-bottom: 20px;
}

.inventory {
    /* border: 2px solid black; */
}

.inventory table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#helmet {
    border: 2px solid black;
    background:#000000;
    opacity: 0.6;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#waepon {
    border: 2px solid black;
    background:#000000;
    opacity: 0.6;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#armor {
    border: 2px solid black;
    background:#000000;
    opacity: 0.6;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#legs {
    border: 2px solid black;
    background:#000000;
    opacity: 0.6;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
