.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2%;
}

.char {
    width: 15%;
    border: 2px solid black;
}

.char p1 {
    display: flex;
    flex-direction: row;
}

.char p2 {
    display: flex;
    flex-direction: column;
}

.inventory p1 {
    display: flex;
    flex-direction: row;
}
.inventory p2 {
    display: flex;
    flex-direction: column;
}